.App {
  text-align: center;
  padding-top: 1%;
  padding-left: 8%;
  padding-right: 8%;
}
Header{
  padding-top: 20%;
}
#top, #bottom, #left, #right {
  background: rgb(107, 106, 106);
  position: fixed;
}
#left, #right {
  top: 0;
  bottom: 0;
  width: 7.5px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
#top, #bottom {
  left: 0;
  right: 0;
  height: 7.5px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}